/* center-align the form and thank you message */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  .titleclass {
    color: #f7f7f7;
  }
  /* make the form fields responsive */
  form {
    max-width: 500px;
    width: 100%;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    background-color: #fefefe;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }

  label,
  input,
  textarea {
    display: block;
    width: 100%;
    margin: 10px 0;
    border: none;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    color: #333;

  }
  
  textarea {
    height: 100px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  /* make the thank you message responsive */
  .thankyou-message {
    max-width: 500px;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }

  body {
    background-image: url('beresfordifsc-hotel-dublin-exterior.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .loader {
    border: 4px solid #f3f3f3; 
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    margin-right: 10px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

